.backBoard {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.container {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(60, 60, 60, 0.93);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  gap: 10px;
  padding: 0 16px 16px 16px;
  opacity: 0;
  z-index: 10;
  width: 360px;
  height: calc(100vh - 40px);
  transition: all 0.3s ease;
  box-sizing: border-box;
  visibility: hidden;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 500px) {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
  }
}

.skinButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
  padding: 8px 16px;
  gap: 10px;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #434956;
  }

  .skinImg {
  }

  .skinText {
    font-weight: bold;
    color: #e1e1e1;
  }
}

.header {
  display: flex;
  width: 100%;
  font-size: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ffcc5f;
  padding-top: 10px;
  padding-bottom: 5px;
}

.body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding-right: 4px;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: unset;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #777;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.skinItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    color: #eeeeee;
    background-color: #7676767e;
  }

  .skinImg {
  }

  .skinText {
    color: #e1e1e1;
    word-break: break-word;
  }

  &.currentSkin {
    background-color: #eeeeee9a;

    .skinText {
      color: #181818;
    }
  }

  .currentSkinText {
    color: #91ff31;
    font-weight: bold;
  }
}

.highlightText {
  background-color: #ffc60a;
  color: #3e3003;
  font-weight: bold;
}

.content {
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: #eeeeeee7;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.closeButton {
  display: flex;
  position: absolute;
  top: 12px;
  right: 15px;
  width: 22px;
  height: 22px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px !important;
  background-color: #e6ae35;
  color: #eeeeee;
  font-weight: bolder;
  border: unset;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: #eeeeee !important;
    background-color: #f4c04f !important;
  }

  &:active {
    color: #eeeeee !important;
    background-color: #e6ae35 !important;
  }

  &:focus {
    background-color: #c9982d !important;
    color: #eeeeee !important;
  }

  .ex {
    display: flex;
    position: absolute;
    left: 4;
    width: 14px;
    border-radius: 2px;
    background-color: #eeeeee;
    border: 2px solid #eeeeee;
  }

  .left {
    transform: rotate(45deg);
  }

  .right {
    transform: rotate(135deg);
  }
}

.input {
  width: 100%;
  background-color: #2b2b2bc7 !important;
  color: #eeeeee !important;
  border: 1px solid #4f3b11c6 !important;

  &:hover {
    border: 1px solid #9a7320 !important;
  }

  &:focus {
    border: 1px solid #d5a130 !important;
  }

  &:disabled {
    background-color: #c8c8c8 !important;
  }
}

.infoText {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #eeeeee;
}

.newSkinListWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: fit-content;
}

.divider {
  margin: 8px 0 !important;
  border-top: 1px dashed #2b2b2b !important;
  border-bottom: 1px dashed #565656 !important;
}

$borderWidth: 2px;

.newBadge {
  font-weight: bold;
  background-color: orange;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: $borderWidth;
  padding: 4px 8px 1px;

  &::after {
    position: absolute;
    content: '';
    top: calc(-1 * $borderWidth);
    left: calc(-1 * $borderWidth);
    z-index: -1;
    width: calc(100% + $borderWidth * 2);
    height: calc(100% + $borderWidth * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * $borderWidth);
    animation: moveGradient 4s alternate infinite;
  }

  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
}

.highlight {
  background-color: #ffc60a;
  color: #3e3003;
  font-weight: bold;
}
